<app-menu></app-menu>
<div id="component">
    <span class="h4">{{pageTitle}}</span>
    <span> | </span>
    <a routerLink="/orders/create">New Order</a>
    <table class="table table-sm">
        <tr>
            <th><a (click)="sort('id')" class="clickable">Id</a></th>
            <th><a (click)="sort('customerName')" class="clickable">Customer</a></th>
            <th><a (click)="sort('description')" class="clickable">Description</a></th>
            <th><a (click)="sort('total')" class="clickable">Total</a></th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let o of orders | sort:sortCriteria:sortAsc">
            <td>{{o.id}}</td>
            <td>{{o.customer.name}}</td>
            <td>{{o.description}}</td>
            <td>{{o.total | currency}}</td>
            <td>
                <a routerLink="/orders/lines/{{o.id}}">Lines</a> | 
                <a routerLink="/orders/detail/{{o.id}}">Detail</a> | 
                <a routerLink="/orders/edit/{{o.id}}">Edit</a>
            </td>
        </tr>
    </table>
</div>